---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
import AboutButton from "../components/AboutButton.astro";
import SubscribeButton from "../components/SubscribeButton.astro";
import Terminal from "../components/Terminal.astro";

const allPosts = Object.values(import.meta.glob('./blogs/*.md', {eager: true})).reverse(); // All blog posts in posts directory
---

<BaseLayout>
  <div class="homepage-content">
    <ul class="blog-list">
      <div class="blog-list-content">
        {allPosts.map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title} pubDate = {post.frontmatter.pubDate}description={post.frontmatter.description} tags = {post.frontmatter.tags} />)}
      </div>
    </ul>
    <!-- <Terminal /> -->
    <AboutButton />
    <SubscribeButton />
  </div>
</BaseLayout>